@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

body{
	background-color: #222;
}

div#general{
	margin: auto;
	width: 99%;
	height: 800px;
}
div#registro{
	float: left;
	width: 33%;
	height: 100%;
}
div#login{
	float: left;
	width: 33%;
	height: 99%;
}
div#datos{
	float: left;
	width: 33%;
	height: 99%;
}
table#principal{
	width: 90%;
	height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 30px;
	-webkit-box-shadow: inset 2px 2px 102px 1px rgba(0,0,0,0.94);
-moz-box-shadow: inset 2px 2px 102px 1px rgba(0,0,0,0.94);
box-shadow: inset 2px 2px 102px 1px rgba(0,0,0,0.94);
}

table#titulo{
	width: 99%;
	height: 50px;
	margin-left: 15px;
	margin-top: 15px;
}

tr#titulo{
	width: 99%;
	height: 50px;
}

td#titulo{
	width: 95%;
	height: 50px;
}

td#imagen{
	width: 5%;
	height: 50px;
}

tr#td1{
	width: 99%;
}

td#tr1{
	width: 99%;
	padding: 15px;
	text-align: center;
}

img#titulo{
	width: 95%;
	
}

p#titulo{
	font-family: 'Lora', serif;
	color: white;
	font-size: 40px;
	margin-left: 15px;
}

p#textomedio{
	font-family: 'Lora', serif;
	color: white;
	font-size: 18px;
}



.myButton {
	box-shadow:inset 0px -3px 6px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:25px;
	padding:13px 37px;
	text-decoration:none;
	text-shadow:0px 1px 11px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

p.contenidoG{
	font-family: 'Patua One', cursive;
	font-size: 35px;

}
