@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body{
	background-color: #222;
}

div#general{
	margin: auto;
	width: 100%;
	height: 800px;
}
div#registro{
	float: left;
	width: 33%;
	height: 100%;
}
div#login{
	float: left;
	width: 33%;
	height: 100%;
}
div#datos{
	float: left;
	width: 33%;
	height: 100%;
}
table#principal{
	width: 90%;
	height: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 30px;
	-webkit-box-shadow: inset 2px 2px 102px 1px rgba(0,0,0,0.94);
-moz-box-shadow: inset 2px 2px 102px 1px rgba(0,0,0,0.94);
box-shadow: inset 2px 2px 102px 1px rgba(0,0,0,0.94);
}

table#titulo{
	width: 100%;
	height: 50px;
	margin-left: 15px;
	margin-top: 15px;
}

tr#titulo{
	width: 100%;
	height: 50px;
}

td#titulo{
	width: 95%;
	height: 50px;
}

td#imagen{
	width: 5%;
	height: 50px;
}

img#titulo{
	width: 95%;
	
}

p#titulo{
	font-family: 'Lora', serif;
	color: white;
	font-size: 40px;
	margin-left: 15px;
}